
@charset "UTF-8";

@font-face {
	font-family: 'Baris Cerin Regular';
	src: url('../fonts/Baris Cerin Regular.eot');
	src: local('☺'), url('../fonts/Baris Cerin Regular.woff') format('woff'),
	url('../fonts/Baris Cerin Regular.ttf') format('truetype');
	font-style: normal;
}
@font-face {
	font-family: 'Tw Cen MT';
	src: url('../fonts/TwCenMT.eot');
	src: local('☺'), url('../fonts/TwCenMT.woff') format('woff'),
	url('../fonts/TwCenMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


html, img {
	box-sizing: border-box;
	scrollbar-width: none;
}
*, *::after, *::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	
}



