.page-main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 91vh;

	@media screen and(max-width: 1195px) {
		height: 100vh;
	}

	&__item {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		width: 83%;
		@media screen and (max-width: 1195px) {
			width: 71.7%;
		}
	}
}

.sidebar {
	background-color: $sidebar-bg-color;
	width: 17%;
	height: 91vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	@media screen and (max-width: 1840px) {
		width: 22%;
		height: 100vh;

		@media screen and (max-width: 1500px) {
			width: 25%;

			@media screen and (max-width: 1400px) {
				width: 27%;

				@media screen and (max-width: 1300px) {
					width: 29%;

					@media screen and (max-width: 1195px) {
						// width: 29%;
					}
				}
			}
		}		
	}

	&__title {
		@extend %m-title;
		width: 100%;
		background-color: #b1c1cf;
		padding: 26px 20px 20px 69px;
		letter-spacing: 1.1px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media screen and (max-width: 1195px) {
			padding-top: 27px;
			padding-bottom: 25px;
			padding-left: 78px;
		}
	}

	&__list {
		@extend %list-style-none;	
		width: 100%;
		padding-top: 12px;
		overflow-y: scroll;

		&::-webkit-scrollbar {width: 5px; height: 1px;}
		&::-webkit-scrollbar-button {background-color: transparent;}
		&::-webkit-scrollbar-track-piece {background-color: $sidebar-bg-color;}
		&::-webkit-scrollbar-thumb {background-color: $sidebar-visited; border-radius: 5px;}

		@media screen and (max-width: 1195px) {
			padding-top: 0;
			&::-webkit-scrollbar {width: 3px;}
		}
	}

	&__item {
	}

	.bar {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: $sidebar-box-bg;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);		
		border-radius: 12px;
		padding: 4.6% 8% 4.6% 3%;
		margin-bottom: 2%;

		@media screen and (max-width: 1195px) {
			padding: 3.8% 8% 4.4% 10%;
		}

		&:hover {
			opacity: .7;
		}

		&:active {
			background-color: $sidebar-active;
		}

		&:visited {
			background-color: $sidebar-visited;
		}

		&--active {
			background-color: $sidebar-active;

			@media screen and (max-width: 1195px) {
				padding-top: 3.6%;
				padding-bottom: 3.6%;
			}
		}

		&--visited {
			background-color: $sidebar-visited;
		}

		&__ava {
			display: block;
			width: 46px;
			height: 40px;					
			margin-right: 9%;
			background-color: $box-color;
			border-radius: 9px;
		}

		&__wrap {
			width: 74%;

			@media screen and (max-width: 1195px) {
				padding-top: 4px;
				letter-spacing: 0.08em;
			}
		}

		&__title {
			font-family: $main-font-family;
			font-weight: 400;
			font-size: 21px;
			line-height: 25px;
			color: #24404b;

			@media screen and (max-width: 1195px) {
				letter-spacing: 0.1em;
			}

			&--active {
				font-size: 24px;
				line-height: 28px;

				@media screen and (max-width: 1195px) {
					line-height: 26px;
				}
			}
		}

		&__mess {			
			color: $sidebar-text-color;
			padding-top: 5px;
		}

		&__text {
			font-family: $title-family;
			font-size: 16px;
			line-height: 17px;
			letter-spacing: 0.5px;
			color: $sidebar-text-color;

			@media screen and (max-width: 1195px) {
				letter-spacing: 0.015em;
			}
		}

		&__author {
			font-family: $title-family;
			font-size: 16px;
			line-height: 17px;
			letter-spacing: 0.5px;
			color: $sidebar-text-color;

			@media screen and (max-width: 1195px) {
				padding-left: 1px;
				letter-spacing: 0.6px;
			}
		}
	}

	#counter {
		display: none;		

		@media screen and (max-width: 1195px) {
			display: block;
			position: absolute;
			width: 23.1px;
			height: 22.8px;
			top: calc(50% - 15px);
			right: calc(7.4% - 11px);
			font-family: $main-font-family;
			font-size: 18px;
			padding: 1px 0 0 7px;
			line-height: 21px;
			color: #FFFFFF;
			background-color: #EDAB5B;
			-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50%;
		}
	}
}

.chat {
	background-color: $bg-color;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: stretch;

	@media screen and(max-width: 1195px) {
		height: 100vh;
	}

	&__block {
		width: 100%;
		height: 70.4vh;
		padding: 3.6% 12.1% 1% 1.3%;
		overflow-y: scroll;

		&::-webkit-scrollbar { width: 6px; height: 1px;}
		&::-webkit-scrollbar-button { background-color: transparent;}
		&::-webkit-scrollbar-track-piece {background-color: $bg-color;}
		&::-webkit-scrollbar-thumb { background-color: $box-color; border-radius: 5px;}
	}

	&__box {
		margin-top: 3.7%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;

		@media screen and(max-width: 1195px) {
			display: none;
		}

		&--right {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			margin-left: auto;
			margin-top: 98px;
			margin-bottom: 9px;

			@media screen and(max-width: 1195px) {
				display: none;
			}
		}
	}

	&__footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $sidebar-text-color;
		padding: 20px 110px 15px 107px;

		@media (max-width: 1400px) {
			padding-left: 50px;
			padding-right: 50px;

			@media screen and(max-width: 1195px) {
				display: none;
			}
		}
	}
}

.events {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1% 2% 0.26% 2.5%;
	background-color: $event-bg-color;
	border: 1px solid $event-bg-color;
	box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.25);	

	@media screen and(max-width: 1195px) {
		width: 71.2vw;
		height: 86px;
		padding: 0;
	}

	&__title {
		font-family: $title-family;
		color: #3c5a76; 
		font-size: 25px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0.6px;
		margin-top: 2px;

		&--small {
			display: block;
			font-weight: 300;
			font-size: 16px;
			line-height: 27px;
			letter-spacing: 0.3px;
		}
		@media screen and(max-width: 1195px) {
			display: none;
		}
	}

	&__num {
		display: inline-block;
		margin-right: 6px;
	}

	&__search {
		width: 28.9%;
		margin-right: 8%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media screen and (max-width: 1195px) {
			display: none;
		}
	}

	.search {

		&__img {
			padding: 0;
		}

		&__area {
			width: 88%;
			height: 37px;
			background-color: #adbdcc;
			box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
			outline: none;
			padding: 5px 15px;
		}
	}

	#inActive {
		display: none;

		@media screen and(max-width: 1195px) {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
		}

		.inActive_main{
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			flex-direction: column;
			width: 63%;

			#name {
				font-family: $title-family;
				font-style: normal;
				font-weight: normal;
				font-size: 26px;
				line-height: 28px;
				color: #3C5A76;
				width: 40.7%;
				margin-left: auto; 
			}

			#date{
				font-family: $title-family;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 20px;
				letter-spacing: 0.018em;
				color: #3C5A76;
				margin-left: auto;
				margin-top: 3px;
				width: 44.1%;

				#num {
					margin-right: 5px;
				}
			}
		}
		#avatar {
			width: 55px;
			height: 55px;
			background: url(.jpg), #E6EEF0;
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
		}
	}
}

.days {
	font-family: $font-family;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.125em;
	color: $main-font-color;
	margin-left: 24.2%;
	display: block;
	margin: auto;
	text-align: center;

	@media screen and(max-width: 1195px) {
		display: none;
	}
}

.box {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	margin-bottom: 12px;

	&__thumb {
		width: 70px;
		height: 66px;
		background-color: $box-color;
		margin-right: 4%;
		margin-bottom: 16px;
		border-radius: 16px;
	}

	&__img {
		display: block;
		margin: auto;
	}

	&__mess {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width: 45%;
		position: relative;
		z-index: 1;

		@media screen and (max-width: 1730px) {
			max-width: 70%;
		}
	}

	&__text {
		display: block;
		max-width: 100%;
		background-color: $box-color;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		padding: 17px 20px 23px 32px;
		margin-bottom: 12px;
		margin-right: 18px;
		box-sizing: content-box;
		font-family: $font-family;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.125em;

		&--hvost {				
			display: block;
			max-width: 100%;
			background-color: $box-color;
			box-shadow: inset -3px 3px 5px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
			padding: 17px 20px 23px 32px;
			margin-bottom: 12px;
			margin-right: 18px;
			box-sizing: content-box;
			font-family: $font-family;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.125em;

			&:before {
				content: "";
				position: absolute;
				width: 40px;
				height: 32px;
				bottom: 8px;
				left: -3px;
				background-color: $box-color;
				box-shadow: inset 2px 7px 3px rgba(0, 0, 0, 0.2);
				transform: skew(-55deg, -11deg);
				z-index: -1;
			}
		}
	}

	&__date {
		font-family: $font-family;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.125em;
		margin-bottom: 13px;
		opacity: .2;
	}
}	

.eddit{
	display: none;
	position: absolute;
	top: 120px;
	left: 0px;
	width: 135px;
	height: 160px;
	background-color: $eddit-bg-color;
	border-radius: 7px;
	z-index: 5;

	&__list {
		list-style: none;
		padding: 8% 2% 2%;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;	
	}

	&__link {
		text-decoration: none;
		font-family: $main-font-family;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: $eddit-link-coclor;
		padding-bottom: 10px;

		&:hover {
			color: $eddit-hover-color;
		}	
	}	
}

.boxRight {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 12px;

	&__thumb {
		width: 70px;
		height: 66px;
		background-color: $box-color;
		margin-left: 44px;
		margin-bottom: 16px;
		border-radius: 16px;
	}

	&__img {
		display: block;
		margin: auto;
	}

	&__mess {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width: 45%;
		margin-bottom: 15px;
		position: relative;
		z-index: 1;

		@media screen and (max-width: 1730px) {
			max-width: 70%;
		}
	}

	&__text {
		display: block;
		max-width: 100%;
		background-color: $box-color;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		padding: 17px 32px 23px 20px;
		margin-bottom: 12px;
		margin-left: 18px;
		box-sizing: content-box;
		font-family: $font-family;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.125em;

		&--hvost {
			display: block;
			max-width: 100%;
			background-color: $box-color;
			box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
			border-radius: 15px;
			padding: 17px 32px 23px 20px;
			margin-left: 18px;
			box-sizing: content-box;
			font-family: $font-family;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.125em;

			&:before {
				content: "";
				position: absolute;
				width: 40px;
				height: 32px;
				bottom: -4px;
				right: -3px;
				background-color: $box-color;
				box-shadow: inset -2px 7px 3px rgba(0, 0, 0, 0.25);
				transform: skew(55deg, 11deg);
				z-index: -1;
			}
		}
	}

	&__date {
		font-family: $font-family;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.125em;
		margin-bottom: 12px;
		opacity: .2;
	}
}

.edditRight {
	display: none;
	position: absolute;
	top: 70px;
	right: 0;
	width: 135px;
	height: 160px;
	background-color: $eddit-bg-color;
	border-radius: 7px;
	z-index: 5;

	&__list {
		list-style: none;
		padding: 8% 2% 2%;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;	
	}

	&__link {
		text-decoration: none;
		font-family: $main-font-family;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: $eddit-link-coclor;
		padding-bottom: 12px;

		&:hover {
			color: $eddit-hover-color;
		}	
	}	
}
.plus-btn {
	position: relative;
	display: block;
	width: 51px;
	height: 51px;
	background: linear-gradient(39.22deg, #de9237 21.95%, #ffe259 101.97%);			
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);			
	border-radius: 37px;

	.add {
		display: none;
	}

	&__list {
		position: relative;
		list-style: none;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		width: 194px;					
		background: linear-gradient(71.81deg, #db8620 -5.07%, #f1da6e 105.56%);
		box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.25);
		border-radius: 27px;
		padding: 7px 13px 11px 15px;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 32px solid transparent;
			border-right: 32px solid transparent;
			border-top: 17px solid #f3b04f;
			bottom: -7px;
			left: calc(50% - 34px);
			z-index: -1;
		}
	}

	&__bg {
		position: relative;
		display: block;
		width: 45px;
		height: 45px;
		background-color: #dfbe80;	
		border-radius: 37px;
		margin: auto;
		margin-top: 3px;
		opacity: .9;

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 3px);
			left: calc(50% - 16px);
			width: 31px;
			height: 5px;
			background-color: $plus-color;
			border-radius: 2px;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
		}

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 31px;
			height: 5px;
			top: calc(50% - 3px);
			left: calc(50% - 16px);
			background-color: $plus-color;
			border-radius: 2px;
			transform: rotate(90deg);
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
		}
	}

	&:hover {
		.add {
			display: block;
			position: absolute;
			top: -65px;
			left: -69px;
			z-index: 10;
		}
	}
}

.formChat {
	width: 63.4%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 1800px) {
		width: 70%;

		@media (max-width: 1600px) {
			width: 80%;

			@media (max-width: 1400px) {
				width: 85%;
				@media (max-width: 1300px) {
					width: 90%;
				}
			}
		}
	}

	&__wrap {
		position: relative;
		width: 79%;
	}

	&__area {
		font-family: $main-font-family;
		font-size: 21px;
		line-height: 25px;
		letter-spacing: 0.7px;
		background-color: #e6f2f5;
		padding: 21px 80px 32px 30px;
		margin-left: 5px;
		border-radius: 15px;
		width: 100%;
		outline: none;				

		&--smille {
			position: absolute;
			display: block;
			bottom: calc(46% - 12px);
			right: calc(7% - 12px);
		}
	}

	&__area::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {font-family: $main-font-family; font-size: 21px; line-height: 25px; opacity: 0.7; color: $placeholder-color;;}
	&__area::-moz-placeholder, .contact-form textarea::-moz-placeholder{opacity: 0.7; color: $placeholder-color;;}
	&__area::-moz-placeholder, .contact-form textarea:-moz-placeholder{font-family: $main-font-family; font-size: 21px; line-height: 25px; opacity: 0.7; color: $placeholder-color;;}
	&__area::-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder{font-family: $main-font-family; font-size: 21px; line-height: 25px; opacity: 0.7; color: $placeholder-color;;}

	&__btn {
		font-family: $main-font-family;
		font-size: 25px;
		text-transform: uppercase;
		color: $bg-color;
		background-color: $sidebar-active;
		border: 1px solid $sidebar-active;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 14px;
		padding: 11px 40px 7px 33px;
		margin-left: 35px;
	}
}




