$main-font-color: #000000;
$font-color: #ffffff;
$main-color: #E5E5E5;
$head-ground-color: #150B32;
$title-color: #4E6983;

$main-font-family: "ABeeZee", sans-serif;
$font-family: "Roboto", sans-serif;
$head-family: "Baris Cerin Regular", sans-serif;
$head-family: "Baris Cerin Regular", sans-serif;
$title-family:"Tw Cen MT", sans-serif;

