$main-font-color: #000000;
$font-color: #ffffff;
$main-color: #e5e5e5;
$head-ground-color: #150B32;
$title-color: #4e6983;
$box-color:#d0dde1;
$bg-color: #f2eeea;
$sidebar-bg-color: #e6dfd2;
$sidebar-box-bg: #d8c8b4;
$sidebar-visited: #c4b097;
$sidebar-active: #f5b970;
$sidebar-text-color: #506b76;
$event-bg-color: #c9d5e0;
$eddit-bg-color: #d1dbe9;
$eddit-link-coclor: #201636;
$eddit-hover-color: #cd7000;
$plus-color: #e6eef0;
$placeholder-color: #615f5E;


$main-font-family: "ABeeZee", serif;
$font-family: "Roboto",
sans-serif;
$head-family: "Baris Cerin Regular",
sans-serif;
$head-family: "Baris Cerin Regular",
sans-serif;
$title-family:"Tw Cen MT",
sans-serif;