@charset "UTF-8";
@font-face {
  font-family: 'Baris Cerin Regular';
  src: url("../fonts/Baris Cerin Regular.eot");
  src: local("☺"), url("../fonts/Baris Cerin Regular.woff") format("woff"), url("../fonts/Baris Cerin Regular.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Tw Cen MT';
  src: url("../fonts/TwCenMT.eot");
  src: local("☺"), url("../fonts/TwCenMT.woff") format("woff"), url("../fonts/TwCenMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html,
img {
  box-sizing: border-box;
  scrollbar-width: none; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.chat__header .nav__list, .sidebar__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar__title {
  font-family: "Tw Cen MT", sans-serif;
  color: #4e6983;
  font-size: 30px;
  font-weight: 300;
  line-height: 33px; }
  @media screen and (max-width: 985px) {
    .sidebar__title {
      font-size: 22px; } }

.chat__header {
  background-color: #150B32;
  border-radius: 10px;
  padding: 11px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1195px) {
    .chat__header {
      display: none; } }
  .chat__header .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 28.4%;
    margin-top: 3px;
    margin-left: 9px; }
    @media screen and (max-width: 1690px) {
      .chat__header .logo {
        width: 32%; } }
  @media screen and (max-width: 1690px) and (max-width: 1455px) {
    .chat__header .logo {
      width: 35%; } }

    .chat__header .logo__ellipse {
      width: 59px;
      height: 59px;
      border: solid 5px #29b5f2;
      border-radius: 50%;
      margin-bottom: 13px;
      margin-right: 13px; }
    .chat__header .logo__img {
      margin-top: 15px;
      max-width: 100%; }
      @media screen and (max-width: 1340px) {
        .chat__header .logo__img {
          width: 70%;
          height: 50%; } }
  .chat__header .nav {
    width: 45%;
    margin-right: 1.3%; }
    @media screen and (max-width: 1730px) {
      .chat__header .nav {
        width: 50%; } }
  @media screen and (max-width: 1730px) and (max-width: 1455px) {
    .chat__header .nav {
      width: 55%; } }

  @media screen and (max-width: 1730px) and (max-width: 1455px) and (max-width: 1400px) {
    .chat__header .nav {
      width: 57%; } }

    .chat__header .nav__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 26px;
      font-weight: 400;
      line-height: 30px; }
      @media screen and (max-width: 1665px) {
        .chat__header .nav__list {
          font-size: 24px; } }
    .chat__header .nav__item--search {
      margin-right: 0; }
    .chat__header .nav__link {
      color: #ffffff;
      text-decoration: none; }

.page-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 91vh; }
  @media screen and (max-width: 1195px) {
    .page-main {
      height: 100vh; } }
  .page-main__item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 83%; }
    @media screen and (max-width: 1195px) {
      .page-main__item {
        width: 71.7%; } }
  @media screen and (max-width: 1195px) and (max-width: 1195px) {
    .page-main__item {
      width: 70%; } }

  @media screen and (max-width: 1195px) and (max-width: 1195px) and (max-width: 1050px) {
    .page-main__item {
      width: 68.5%; } }

  @media screen and (max-width: 1195px) and (max-width: 1195px) and (max-width: 1050px) and (max-width: 1015px) {
    .page-main__item {
      width: 68%; } }

  @media screen and (max-width: 1195px) and (max-width: 1195px) and (max-width: 1050px) and (max-width: 1015px) and (max-width: 415px) {
    .page-main__item {
      width: 100%;
      display: none; } }

.sidebar {
  background-color: #e6dfd2;
  width: 17%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between; }
  @media screen and (max-width: 1840px) {
    .sidebar {
      width: 22%;
      height: 100vh; } }
  @media screen and (max-width: 1840px) and (max-width: 1500px) {
    .sidebar {
      width: 25%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) {
    .sidebar {
      width: 27%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) and (max-width: 1300px) {
    .sidebar {
      width: 29%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) and (max-width: 1300px) and (max-width: 1085px) {
    .sidebar {
      width: 30%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) and (max-width: 1300px) and (max-width: 1085px) and (max-width: 1050px) {
    .sidebar {
      width: 31%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) and (max-width: 1300px) and (max-width: 1085px) and (max-width: 1050px) and (max-width: 1015px) {
    .sidebar {
      width: 32%; } }

  @media screen and (max-width: 1840px) and (max-width: 1500px) and (max-width: 1400px) and (max-width: 1300px) and (max-width: 1085px) and (max-width: 1050px) and (max-width: 1015px) and (max-width: 415px) {
    .sidebar {
      width: 100%; } }

  .sidebar__title {
    display: block;
    width: 100%;
    background-color: #b1c1cf;
    padding: 26px 20px 20px 69px;
    letter-spacing: 1.1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 1195px) {
      .sidebar__title {
        padding-top: 27px;
        padding-bottom: 25px;
        padding-left: 78px; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar__title {
      padding-top: 23px;
      padding-bottom: 29px;
      padding-left: 67px;
      letter-spacing: 0.025em; } }

  @media screen and (max-width: 1195px) and (max-width: 985px) and (max-width: 415px) {
    .sidebar__title {
      padding: 27px 0 25px 22px;
      width: 100%; }
      .sidebar__title span {
        display: none; }
      .sidebar__title #back {
        width: 100%;
        font-size: 18px;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
      .sidebar__title .bar-back {
        margin-right: 16px; } }

  .sidebar__list {
    width: 100%;
    padding-top: 12px;
    overflow-y: scroll; }
    .sidebar__list::-webkit-scrollbar {
      width: 5px;
      height: 1px; }
    .sidebar__list::-webkit-scrollbar-button {
      background-color: transparent; }
    .sidebar__list::-webkit-scrollbar-track-piece {
      background-color: #e6dfd2; }
    .sidebar__list::-webkit-scrollbar-thumb {
      background-color: #c4b097;
      border-radius: 5px; }
    @media screen and (max-width: 1195px) {
      .sidebar__list {
        padding-top: 0; }
        .sidebar__list::-webkit-scrollbar {
          width: 3px; } }
  .sidebar .bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d8c8b4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 4.6% 8% 4.6% 3%;
    margin-bottom: 2%; }
    @media screen and (max-width: 1195px) {
      .sidebar .bar {
        padding: 3.8% 8% 4.4% 10%; } }
  @media screen and (max-width: 1195px) and (max-width: 1160px) {
    .sidebar .bar {
      padding-left: 8%; } }

  @media screen and (max-width: 1195px) and (max-width: 1160px) and (max-width: 1130px) {
    .sidebar .bar {
      padding-left: 5%; } }

  @media screen and (max-width: 1195px) and (max-width: 1160px) and (max-width: 1130px) and (max-width: 985px) {
    .sidebar .bar {
      padding-top: 5.6%;
      padding-bottom: 5%;
      padding-left: 2.2%; } }

    .sidebar .bar:hover {
      opacity: .7; }
    .sidebar .bar:active {
      background-color: #f5b970; }
    .sidebar .bar:visited {
      background-color: #c4b097; }
    .sidebar .bar--active {
      background-color: #f5b970; }
      @media screen and (max-width: 1195px) {
        .sidebar .bar--active {
          padding-top: 3.6%;
          padding-bottom: 3.6%; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar--active {
      padding-top: 5.6%;
      padding-bottom: 5.6%;
      padding-left: 2.2%; } }

    .sidebar .bar--visited {
      background-color: #c4b097; }
    .sidebar .bar__ava {
      display: block;
      width: 46px;
      height: 40px;
      margin-right: 9%;
      background-color: #d0dde1;
      border-radius: 9px; }
      @media screen and (max-width: 835px) {
        .sidebar .bar__ava {
          margin-right: 0; } }
    .sidebar .bar__wrap {
      width: 74%; }
      @media screen and (max-width: 1195px) {
        .sidebar .bar__wrap {
          padding-top: 5px;
          letter-spacing: 0.08em; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar__wrap {
      padding-top: 6px;
      width: 71%; } }

    .sidebar .bar__title {
      font-family: "ABeeZee", serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      color: #24404b; }
      @media screen and (max-width: 1195px) {
        .sidebar .bar__title {
          letter-spacing: 0.1em; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar__title {
      font-size: 18px; } }

      .sidebar .bar__title--active {
        font-size: 24px;
        line-height: 28px; }
        @media screen and (max-width: 1195px) {
          .sidebar .bar__title--active {
            line-height: 26px; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar__title--active {
      font-size: 18px; } }

    .sidebar .bar__mess {
      color: #506b76;
      padding-top: 5px; }
      @media screen and (max-width: 985px) {
        .sidebar .bar__mess {
          padding-top: 2px; } }
    .sidebar .bar__text {
      font-family: "Tw Cen MT", sans-serif;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: #506b76; }
      @media screen and (max-width: 1195px) {
        .sidebar .bar__text {
          letter-spacing: 0.015em; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar__text {
      font-size: 14px; } }

    .sidebar .bar__author {
      font-family: "Tw Cen MT", sans-serif;
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.5px;
      color: #506b76; }
      @media screen and (max-width: 1195px) {
        .sidebar .bar__author {
          padding-left: 1px;
          letter-spacing: 0.6px; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar .bar__author {
      padding-left: 0px;
      letter-spacing: -0.08em; } }

  .sidebar #counter {
    display: none; }
    @media screen and (max-width: 1195px) {
      .sidebar #counter {
        display: block;
        position: absolute;
        width: 23.1px;
        height: 22.8px;
        top: calc(50% - 15px);
        right: calc(7.4% - 11px);
        font-family: "ABeeZee", serif;
        font-size: 18px;
        padding: 1px 0 0 7px;
        line-height: 21px;
        color: #FFFFFF;
        background-color: #EDAB5B;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%; } }
  @media screen and (max-width: 1195px) and (max-width: 985px) {
    .sidebar #counter {
      top: calc(49% - 15px);
      right: calc(8.5% - 11px); } }

.chat {
  background-color: #f2eeea;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch; }
  @media screen and (max-width: 1195px) {
    .chat {
      height: 100vh; } }
  .chat__block {
    width: 100%;
    height: 70.4vh;
    padding: 3.6% 12.1% 1% 1.3%;
    overflow-y: scroll; }
    .chat__block::-webkit-scrollbar {
      width: 6px;
      height: 1px; }
    .chat__block::-webkit-scrollbar-button {
      background-color: transparent; }
    .chat__block::-webkit-scrollbar-track-piece {
      background-color: #f2eeea; }
    .chat__block::-webkit-scrollbar-thumb {
      background-color: #d0dde1;
      border-radius: 5px; }
    @media screen and (max-width: 1195px) {
      .chat__block {
        height: 76.4vh; } }
  @media screen and (max-width: 1195px) and (max-width: 1150px) {
    .chat__block {
      height: 76.8vh;
      padding-right: 4%;
      padding-left: 1.5%; } }

  @media screen and (max-width: 1195px) and (max-width: 1150px) and (max-width: 1000px) {
    .chat__block {
      height: 77.5vh; } }

  @media screen and (max-width: 1195px) and (max-width: 1150px) and (max-width: 1000px) and (max-width: 1050px) {
    .chat__block {
      height: 80vh; } }

  @media screen and (max-width: 1195px) and (max-width: 1150px) and (max-width: 1000px) and (max-width: 1050px) and (max-width: 415px) {
    .chat__block {
      padding-left: 4.5%;
      padding-right: 4.3%; } }

  .chat__box {
    margin-top: 3.7%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    @media screen and (max-width: 1195px) {
      .chat__box {
        width: 100%;
        margin-top: 0; } }
    .chat__box--right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;
      margin-top: 98px;
      margin-bottom: 9px; }
      @media screen and (max-width: 1195px) {
        .chat__box--right {
          width: 100%;
          margin-top: 5px;
          margin-bottom: 15px; } }
  .chat__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #506b76;
    padding: 20px 110px 15px 107px; }
    @media (max-width: 1400px) {
      .chat__footer {
        padding-left: 50px;
        padding-right: 50px; } }
  @media (max-width: 1400px) and (max-width: 1100px) {
    .chat__footer {
      padding-left: 40px;
      padding-right: 40px; } }

  @media (max-width: 1400px) and (max-width: 1100px) and (max-width: 1050px) {
    .chat__footer {
      padding: 2% 3% 2.3%; } }

  @media (max-width: 1400px) and (max-width: 1100px) and (max-width: 1050px) and (max-width: 415px) {
    .chat__footer {
      padding: 1px 3.1% 1px 9.1%;
      height: 10vh;
      background: #2D465E;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); } }

  .chat__nested {
    width: 91%;
    background-color: #E7DBD0;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: -16%;
    padding-bottom: 8.5%; }

.from {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-family: "ABeeZee", serif;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.01em;
  width: 100%;
  background-color: #E7DBD0;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  padding: 3% 2% 3% 4.3%;
  margin-bottom: 19px; }
  .from__thumb {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #d0dde1;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 11px; }
  .from__ava {
    display: block;
    border-radius: 8px; }

.Thumb {
  display: block;
  width: 115px;
  height: 167px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 4%; }
  .Thumb .Thumb img {
    display: block;
    width: 100%;
    border-radius: 3px; }

.contentThumb {
  display: block;
  width: 209px;
  height: 149px;
  background-color: #d0dde1;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-left: 12%; }
  .contentThumb__img {
    border-radius: 11px; }

.events {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1% 2% 0.26% 2.5%;
  background-color: #c9d5e0;
  border: 1px solid #c9d5e0;
  box-shadow: 4px, 0px, 4px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 1195px) {
    .events {
      width: 71.2vw;
      height: 86px;
      padding: 0; } }
  @media screen and (max-width: 1195px) and (max-width: 1085px) {
    .events {
      width: 70vw; } }

  @media screen and (max-width: 1195px) and (max-width: 1085px) and (max-width: 1050px) {
    .events {
      width: 69vw; } }

  @media screen and (max-width: 1195px) and (max-width: 1085px) and (max-width: 1050px) and (max-width: 1015px) {
    .events {
      width: 68.2vw; } }

  @media screen and (max-width: 1195px) and (max-width: 1085px) and (max-width: 1050px) and (max-width: 1015px) and (max-width: 415px) {
    .events {
      width: 100vw; } }

  .events__title {
    font-family: "Tw Cen MT", sans-serif;
    color: #3c5a76;
    font-size: 25px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-top: 2px; }
    .events__title--small {
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.3px; }
    @media screen and (max-width: 1195px) {
      .events__title {
        display: none; } }
  .events__num {
    display: inline-block;
    margin-right: 6px; }
  .events__search {
    width: 28.9%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media screen and (max-width: 1195px) {
      .events__search {
        display: none; } }
  .events .search__img {
    padding: 0; }
  .events .search__area {
    width: 88%;
    height: 37px;
    background-color: #adbdcc;
    box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    outline: none;
    padding: 5px 15px; }
  .events #inActive {
    display: none; }
    @media screen and (max-width: 1195px) {
      .events #inActive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; } }
    .events #inActive #back {
      display: none; }
      @media screen and (max-width: 415px) {
        .events #inActive #back {
          display: block;
          margin-left: 15px;
          margin-top: 7px; } }
    .events #inActive .inActive_main {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 63%; }
      @media screen and (max-width: 415px) {
        .events #inActive .inActive_main {
          width: 85.2%;
          padding-top: 16px; } }
      .events #inActive .inActive_main #name {
        font-family: "Tw Cen MT", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 28px;
        color: #3C5A76;
        width: 40.7%;
        margin-left: auto; }
        @media screen and (max-width: 835px) {
          .events #inActive .inActive_main #name {
            width: 46.2%;
            font-size: 22px;
            line-height: 19px; } }
  @media screen and (max-width: 835px) and (max-width: 415px) {
    .events #inActive .inActive_main #name {
      width: 99%; } }

      .events #inActive .inActive_main #date {
        font-family: "Tw Cen MT", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.018em;
        color: #3C5A76;
        margin-left: auto;
        margin-top: 3px;
        width: 44.1%; }
        @media screen and (max-width: 835px) {
          .events #inActive .inActive_main #date {
            margin-top: 0px;
            width: 49.5%;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.01em; } }
  @media screen and (max-width: 835px) and (max-width: 415px) {
    .events #inActive .inActive_main #date {
      display: none; } }

        .events #inActive .inActive_main #date #num {
          margin-right: 5px; }
      .events #inActive .inActive_main #online {
        display: none; }
        @media screen and (max-width: 415px) {
          .events #inActive .inActive_main #online {
            display: block;
            font-size: 17px;
            line-height: 0.5em;
            color: #506B76;
            padding-top: 10px;
            margin-left: 11px;
            letter-spacing: -0.03em; } }
    .events #inActive #avatar {
      width: 55px;
      height: 55px;
      background: url(.jpg), #E6EEF0;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px; }
      @media screen and (max-width: 835px) {
        .events #inActive #avatar {
          margin-bottom: 5px; } }
  @media screen and (max-width: 835px) and (max-width: 415px) {
    .events #inActive #avatar {
      display: none; } }

.days {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.125em;
  color: #000000;
  margin-left: 24.2%;
  display: block;
  margin: auto;
  text-align: center; }
  @media screen and (max-width: 415px) {
    .days {
      margin-bottom: 23px;
      margin-top: 0; } }

.box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 12px; }
  .box__thumb {
    width: 70px;
    height: 66px;
    background-color: #d0dde1;
    margin-right: 4%;
    margin-bottom: 16px;
    border-radius: 16px; }
    @media screen and (max-width: 1100px) {
      .box__thumb {
        width: 55px;
        height: 55px;
        margin-bottom: 30px;
        margin-right: 6%; } }
  @media screen and (max-width: 1100px) and (max-width: 415px) {
    .box__thumb {
      width: 45px;
      height: 45px;
      margin-bottom: 0; } }

  .box__img {
    display: block;
    margin: auto; }
    @media (max-width: 415px) {
      .box__img {
        width: 45px;
        height: 45px; } }
  .box__mess {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 45%;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 1730px) {
      .box__mess {
        max-width: 70%; } }
  @media screen and (max-width: 1730px) and (max-width: 1195px) {
    .box__mess {
      max-width: 100%; } }

  .box__text {
    display: block;
    max-width: 100%;
    background-color: #d0dde1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 17px 20px 23px 32px;
    margin-bottom: 12px;
    margin-right: 18px;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.125em; }
    @media (max-width: 1050px) {
      .box__text {
        font-size: 18px; } }
  @media (max-width: 1050px) and (max-width: 415px) {
    .box__text {
      font-size: 14px;
      padding-top: 13px;
      padding-bottom: 5px; } }

    .box__text--hvost {
      display: block;
      max-width: 100%;
      background-color: #d0dde1;
      box-shadow: inset -3px 3px 5px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 17px 20px 23px 32px;
      margin-bottom: 12px;
      margin-right: 18px;
      box-sizing: content-box;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.125em; }
      @media (max-width: 1050px) {
        .box__text--hvost {
          font-size: 18px; } }
  @media (max-width: 1050px) and (max-width: 415px) {
    .box__text--hvost {
      font-size: 14px;
      padding-top: 13px;
      padding-bottom: 5px; } }

      .box__text--hvost:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 32px;
        bottom: 8px;
        left: -3px;
        background-color: #d0dde1;
        box-shadow: inset 2px 7px 3px rgba(0, 0, 0, 0.2);
        transform: skew(55deg, 11deg);
        z-index: -1; }
        @media (max-width: 415px) {
          .box__text--hvost:before {
            width: 31px;
            height: 16px;
            bottom: 12px;
            left: -3px;
            box-shadow: inset 1px 6px 4px rgba(0, 0, 0, 0.25);
            transform: skew(-51deg, -2deg); } }
  .box__date {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.125em;
    margin-bottom: 13px;
    opacity: .2; }
    @media (max-width: 415px) {
      .box__date {
        display: none; } }

.eddit {
  display: none;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 135px;
  height: 160px;
  background-color: #d1dbe9;
  border-radius: 7px;
  z-index: 5; }
  .eddit__list {
    list-style: none;
    padding: 8% 2% 2%; }
  .eddit__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .eddit__link {
    text-decoration: none;
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #201636;
    padding-bottom: 10px; }
    .eddit__link:hover {
      color: #cd7000; }

.boxRight {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px; }
  .boxRight__thumb {
    width: 70px;
    height: 66px;
    background-color: #d0dde1;
    margin-left: 44px;
    margin-bottom: 16px;
    border-radius: 16px; }
    @media (max-width: 415px) {
      .boxRight__thumb {
        width: 45px;
        height: 45px; } }
  .boxRight__img {
    display: block;
    margin: auto; }
    @media (max-width: 415px) {
      .boxRight__img {
        width: 45px;
        height: 45px; } }
  .boxRight__mess {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 45%;
    margin-bottom: 15px;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 1730px) {
      .boxRight__mess {
        max-width: 70%; } }
  @media screen and (max-width: 1730px) and (max-width: 1195px) {
    .boxRight__mess {
      max-width: 100%; } }

  .boxRight__text {
    display: block;
    max-width: 100%;
    background-color: #d0dde1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 17px 32px 23px 20px;
    margin-bottom: 12px;
    margin-left: 18px;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.125em; }
    @media (max-width: 1050px) {
      .boxRight__text {
        font-size: 18px; } }
  @media (max-width: 1050px) and (max-width: 415px) {
    .boxRight__text {
      font-size: 14px;
      padding-top: 13px;
      padding-bottom: 5px; } }

    .boxRight__text--hvost {
      display: block;
      max-width: 100%;
      background-color: #d0dde1;
      box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 17px 32px 23px 20px;
      margin-left: 18px;
      box-sizing: content-box;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.125em; }
      @media (max-width: 1050px) {
        .boxRight__text--hvost {
          font-size: 18px; } }
  @media (max-width: 1050px) and (max-width: 415px) {
    .boxRight__text--hvost {
      font-size: 14px;
      padding-top: 13px;
      padding-bottom: 5px; } }

      .boxRight__text--hvost:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 32px;
        bottom: -4px;
        right: -3px;
        background-color: #d0dde1;
        box-shadow: inset -2px 7px 3px rgba(0, 0, 0, 0.25);
        transform: skew(55deg, 11deg);
        z-index: -1; }
        @media (max-width: 415px) {
          .boxRight__text--hvost:before {
            width: 31px;
            height: 16px;
            bottom: 0px;
            right: -2px;
            box-shadow: inset -3px 3px 3px rgba(0, 0, 0, 0.25);
            transform: skew(57deg, 1deg); } }
  .boxRight__date {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.125em;
    margin-bottom: 12px;
    opacity: .2; }
    @media (max-width: 415px) {
      .boxRight__date {
        display: none; } }

.edditRight {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  width: 135px;
  height: 160px;
  background-color: #d1dbe9;
  border-radius: 7px;
  z-index: 5; }
  .edditRight__list {
    list-style: none;
    padding: 8% 2% 2%; }
  .edditRight__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .edditRight__link {
    text-decoration: none;
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #201636;
    padding-bottom: 12px; }
    .edditRight__link:hover {
      color: #cd7000; }

.plus-btn {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  background: linear-gradient(39.22deg, #de9237 21.95%, #ffe259 101.97%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px; }
  @media screen and (max-width: 1000px) {
    .plus-btn {
      width: 52px;
      height: 52px; } }
  @media screen and (max-width: 1000px) and (max-width: 415px) {
    .plus-btn {
      bottom: 2px;
      left: 0px; } }

  .plus-btn .add {
    display: none; }
    .plus-btn .add__link img {
      width: 69%; }
  .plus-btn__list {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 194px;
    background: linear-gradient(71.81deg, #db8620 -5.07%, #f1da6e 105.56%);
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 7px 13px 11px 15px; }
    @media screen and (max-width: 415px) {
      .plus-btn__list {
        width: 147px;
        padding: 7px 9px 8px 16px; } }
    .plus-btn__list:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 32px solid transparent;
      border-right: 32px solid transparent;
      border-top: 17px solid #f3b04f;
      bottom: -7px;
      left: calc(50% - 34px);
      z-index: -1; }
      @media screen and (max-width: 415px) {
        .plus-btn__list:after {
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 11px solid #f3b04f;
          bottom: -5px;
          left: calc(31% - 10px); } }
  .plus-btn__bg {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #dfbe80;
    border-radius: 37px;
    margin: auto;
    margin-top: 3px;
    opacity: .9; }
    @media screen and (max-width: 1000px) {
      .plus-btn__bg {
        width: 39px;
        height: 39px;
        margin-top: 4px; } }
  @media screen and (max-width: 1000px) and (max-width: 415px) {
    .plus-btn__bg {
      width: 42px;
      height: 43px; } }

    .plus-btn__bg:after {
      content: "";
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 16px);
      width: 31px;
      height: 5px;
      background-color: #e6eef0;
      border-radius: 2px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25); }
      @media screen and (max-width: 1000px) {
        .plus-btn__bg:after {
          width: 28px;
          height: 4px;
          top: calc(52% - 3px);
          left: calc(50% - 16px); } }
    .plus-btn__bg:before {
      content: "";
      position: absolute;
      display: block;
      width: 31px;
      height: 5px;
      top: calc(50% - 3px);
      left: calc(50% - 16px);
      background-color: #e6eef0;
      border-radius: 2px;
      transform: rotate(90deg);
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25); }
      @media screen and (max-width: 1000px) {
        .plus-btn__bg:before {
          width: 28px;
          height: 4px;
          top: calc(52% - 3px);
          left: calc(51% - 16px); } }
  .plus-btn:hover .add {
    display: block;
    position: absolute;
    top: -65px;
    left: -69px;
    z-index: 10; }
    @media screen and (max-width: 415px) {
      .plus-btn:hover .add {
        top: -53px;
        left: -29px; } }

.formChat {
  width: 63.4%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1800px) {
    .formChat {
      width: 70%; } }
  @media (max-width: 1800px) and (max-width: 1600px) {
    .formChat {
      width: 80%; } }

  @media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1400px) {
    .formChat {
      width: 85%; } }

  @media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1400px) and (max-width: 1300px) {
    .formChat {
      width: 90%; } }

  @media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1400px) and (max-width: 1300px) and (max-width: 1300px) {
    .formChat {
      width: 81%; } }

  .formChat__wrap {
    position: relative;
    width: 79%; }
    @media (max-width: 1300px) {
      .formChat__wrap {
        width: 100%; } }
  .formChat__area {
    font-family: "ABeeZee", serif;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.7px;
    background-color: #e6f2f5;
    padding: 21px 80px 32px 30px;
    margin-left: 5px;
    border-radius: 15px;
    width: 100%;
    outline: none; }
    @media (max-width: 1100px) {
      .formChat__area {
        padding-left: 50px;
        padding-right: 20px;
        padding-bottom: 30px; } }
  @media (max-width: 1100px) and (max-width: 415px) {
    .formChat__area {
      padding: 0;
      background-color: transparent;
      border: 3px solid #E5E5E5;
      border-radius: 23px;
      width: 90%;
      height: 43px;
      padding: 5px 35px 5px 15px; } }

    .formChat__area--smille {
      position: absolute;
      display: block;
      bottom: calc(46% - 12px);
      right: calc(7% - 12px); }
      @media (max-width: 1100px) {
        .formChat__area--smille {
          right: calc(5% - 12px); } }
  @media (max-width: 1100px) and (max-width: 415px) {
    .formChat__area--smille {
      display: none; } }

    .formChat__area--tell {
      display: none; }
      @media (max-width: 415px) {
        .formChat__area--tell {
          position: absolute;
          display: block;
          bottom: calc(41% - 12px);
          right: calc(17% - 12px); } }
  .formChat__area::-webkit-input-placeholder, .formChat .contact-form textarea::-webkit-input-placeholder {
    font-family: "ABeeZee", serif;
    font-size: 21px;
    line-height: 25px;
    opacity: 0.7;
    color: #615f5E; }
  .formChat__area::-moz-placeholder, .formChat .contact-form textarea::-moz-placeholder {
    opacity: 0.7;
    color: #615f5E; }
  .formChat__area::-moz-placeholder, .formChat .contact-form textarea:-moz-placeholder {
    font-family: "ABeeZee", serif;
    font-size: 21px;
    line-height: 25px;
    opacity: 0.7;
    color: #615f5E; }
  .formChat__area::-ms-input-placeholder, .formChat .contact-form textarea:-ms-input-placeholder {
    font-family: "ABeeZee", serif;
    font-size: 21px;
    line-height: 25px;
    opacity: 0.7;
    color: #615f5E; }
  .formChat__btn {
    font-family: "ABeeZee", serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #f2eeea;
    background-color: #f5b970;
    border: 1px solid #f5b970;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 11px 40px 7px 33px;
    margin-left: 35px; }
    @media (max-width: 1100px) {
      .formChat__btn {
        font-size: 24px;
        padding-left: 31px;
        padding-right: 35px;
        margin-left: 30px; } }
  @media (max-width: 1100px) and (max-width: 1100px) {
    .formChat__btn {
      padding: 8px 30px 5px 28px;
      margin-left: 25px; } }

  @media screen and (max-width: 1100px) and (max-width: 1100px) and (max-width: 415px) {
    .formChat__btn {
      display: none; } }

  .formChat .send {
    display: none; }
    @media screen and (max-width: 415px) {
      .formChat .send {
        display: block;
        position: relative;
        bottom: 0;
        right: 4px; } }

/*# sourceMappingURL=style.css.map */
